@import '../../style/index.less';
.send {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .send-container {
        width: 100%;
        flex: 1;
        margin: 0;
        padding: 0 24px;
        box-sizing: border-box;

        .from-container {
            width: 100%;
            background: #F8FAFC;
            border-radius: 8px;
            padding-left: 16px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 16px;
            .account-name{
                margin:0 6px;
                font-family: MontserratBold;
                font-style: normal;
                font-size: 14px;
                line-height: 100%;
                align-items: flex-end;
                color: #364361;
              }
            .account-address {
                margin-top: 6px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 100%;
                color: #798CAD;
                cursor:pointer;
            }
            
        }

        .ant-select-selector {
            border-radius: 8px!important;
            height: 38px!important;
        }

        .ant-input-number {
            /**
              * Override default style
              */
            border: 0 !important;
            background-color: #F8FAFC !important;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            &:focus {}
        }
        .ant-input-number-lgs {
            /**
              * Override default style
              */
            border: 0 !important;
            background-color: #F8FAFC !important;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .ant-input-number-group-addon {
            /**
              * Override default style
              */
            border: 0 !important;
            background-color: #F8FAFC !important;
            font-family: MontserratBold;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .ant-select-selector {
            border: 0 !important;
            background-color: #F8FAFC !important;
        }
        .customInputStyle {
            border: 0 !important;
            background-color: #F8FAFC !important;
            border-radius: 8px;
            height: 38px;
            &::placeholder {
                color: rgba(163, 180, 204, 1);
            }
        }
        .tbmy {
            margin-top: 6px;
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #1484F5;
        }

        .ant-card-head {
            border: 0;
        }
        
        .send-form-title {
            font-family: MontserratBold;
            font-style: normal;
            font-size: 16px;
            line-height: 100%;
            display: flex;
            align-items: flex-end;
            color: #364361;
            margin: 24px 0 12px 0; 
        }
        
        .recent {
            width: 100%;
            box-sizing: border-box;
            box-shadow: 0px 4px 8px rgba(94, 139, 255, 0.2);
            border-radius: 8px;
            z-index: 2;
            position: relative;
            background-color: #fff;
            padding-top: 10px;
            margin-top: 2px;
            .recent-title {
                align-items: flex-start;
                padding: 4px 4px 4px 16px;
                background: #F8FAFC;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                color: #798CAD;
            }
            .recent-body {
                max-height: 150px;
                overflow-y: auto;
                .recent-item {
                    font-family: 'MontserratBold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 100%;
                    color: #364361;
                    align-items: flex-start;
                    margin: 0 16px;
                    padding: 12px 0;
                }

            }
        }
        
        
    }

    .send-btn-con {
        height: 80px;
        flex: 0 0 80px;
        margin-bottom: 10px;
        text-align: center;
        padding: 0 24px;
        left: 0;
        z-index: 1;
        bottom: 0;
        position: fixed;
        width: 100%;
        .button-inner {
            width: 100%;
        }
        .gas-limit-container {
            margin-bottom: 5px;
            .gas-limit-title {
                margin-right: 5px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #364361;
            }
            .gas-limit-value {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: #364361;
            }
        }
        
    }
    .chevron-down {
        fill: @baseTextColor;
        height: 14px;
        width: 8px;
    }
    .headerOfMenu {
        .nologo-title {
            margin-left: 24px;
        }
        .closeWindowBtn {
            margin-right: 8px;
        }
    }
}

.assets-option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .assets-option-symbol {
        margin-left: 10px;
        color: #364361;
        font-family: MontserratBold;
        font-weight: bolder;
    }
    .assets-option-symbol-name {
        margin-left: 10px;
        color: #A3B4CC;
    }
    .assets-option-left {
        align-items: center;
        line-height: 38px;
    }
    .assets-option-right {
       float: right;
    }
}



.card-title {
    font-size:12px;
    color: #0F83FF;
}
.icon {
    color: #0F83FF;
}
.available-container {
    margin-top: 6px;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #798CAD;
    .max-icon {
        margin-left: 10px;
        background-color: #1484F5;
        color: white;
        padding: 2px 4px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 800;
        font-family: PingFang SC;
    } 
}
.addonSymbol {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    color: #202226;
}
.send.dark {
    background: #020C15;
    .send-container {
        background: #020C15;
        .from-container {
            background: #02182B;
            .account-name {
                color: #fff;
            }
            .account-address {
                color: #798CAD;
            }
        }
        .send-form-title {
            color: #fff;
        }
        .customInputStyle {
            background-color: #02182B !important;
            color: #fff;
            border: 1px solid #02182B!important;
            &:focus {
                border: 1px solid #1484F5!important;
                box-shadow: none;
                outline: none;
            }
            &::placeholder {
                color: rgba(94, 108, 138, 1);
            }
        }
        .recent {
            background-color: #020C15;
            color: #fff;
            .recent-title {
                background: #02182B;
                color: #798CAD;
            }
            .recent-body {
                .recent-item {
                    color: #fff;
                }

            }
        }
    }
    .available-container {
        color: #798CAD;
        span {
            color: #fff;
            margin-left: 10px;
        }
        .max-icon {
            background: #1484F5;
            color: #020C15;
        }
    }
    .send-btn-con {
        .gas-limit-container {
            .gas-limit-title {
                color: #798CAD;
            }
            .gas-limit-value {
                color: #798CAD;
            }
        }
    }
    .ant-select-selector {
        background-color: #02182B!important;
    }
    .assets-option {
        .assets-option-symbol {
            color: #FFFFFF;
        }
        .assets-option-symbol-name {
            color: #5E6C8A;
        }
    }
    .ant-select-arrow {
        color: #fff;
    }

    .ant-input-number {
        background-color: #02182B!important;
        color: #fff;
        &:focus {
            border: 1px solid #1484F5!important;
            box-shadow: none;
            outline: 0;
        }
    }
    .ant-input-number-lgs {
        background-color: #02182B!important;
        color: #fff;
    }
    .ant-input-number-group-addon {
        background-color: #02182B!important;
        color: #fff;
    }
    .addonSymbol {
        color: #fff;
    }
    .send-btn-con {
        background-color: #020C15!important;
        margin: 0;
    }
    .chevron-down {
        fill: #fff;
    }
    .ant-input-number-focus {
        border: 1px solid #1484F5!important;
        box-shadow: none;
        outline: 0;
    }
}
.assets-option.dark {
    background-color: #020C15;
    .assets-option-symbol {
        color: #FFFFFF;
    }
    .assets-option-symbol-name {
        color: #5E6C8A;
    }
    .assets-option-right {
        color: #fff;
     }
}
.send-dropdown.dark {
    background-color: #020C15;
    box-shadow: 0px 4px 8px rgba(94, 139, 255, 0.2);
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #020C15;
    }
    .ant-select-item-option {
        background-color: #020C15;
    }
}
.ant-select-dropdown.dark {
    box-shadow: 0px 4px 8px rgba(94, 139, 255, 0.2);
}