@import '../../style/mixin';

.policy-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    

    .policy-content {
        flex: 1;
        box-sizing: border-box;
        overflow-y: auto;
        .policy-title{
            text-align: center;
            font-family: MontserratBold;
            font-size: 18px;
            margin: 16px 0;
        }
        
        .policy-time{
            font-size: 16px;
        }
        .policy-summary{
            font-size: 16px;
        }
        
        .policy-level-two{
            text-indent: 8px;
        }
        .policy-level-three{
            text-indent: 16px;
        }



    }

}
/** style override for darkmode */
.policy-container.dark {
    background-color: #02182B;
    color: #FFF;
    .policy-title {
        color: #EEE;
    }
    .header {
        svg { fill: #FFF; }
        span.title { color: #FFF; }
    }
}