@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import './mixin.less';
@import './overwrite';

@font-face {
  font-family: 'IBM Plex Sans';
  font-display: fallback;
  src: url('https://www.bybit.com/bycsi-root/common-static/infra-static/assets/fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  color: @baseTextColor;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'PingFang SC',
    'Microsoft YaHei', Roboto, Arial, sans-serif !important;
  .icon-close {
    width: 11px;
  }
}

// /**
//   * For expanded-view 
//   */
// .expanded-view {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #E5E5E5;
// }


*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #C5D1E0;
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.dark::-webkit-scrollbar-thumb,.dark *::-webkit-scrollbar-thumb {
  background-color: #5E6C8A;
}

.expanded-view .popup-size,
body {
  width:360px;
  height:600px;
}


.notification-limited-size {
  width:360px;
  height: 555px;
}


h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

button:focus {
  outline: none;
}

.subtitle {
  color: #818a99;
  font-size: 14px;
  line-height: 14px;
}

.create-new-header {
  position: relative;
  background: linear-gradient(111.24deg, #8babff 9.66%, #8094ff 85.59%);
  padding: 32px 20px;
  .teleportwallet-logo {
    width: 84px;
    height: 24px;
    margin-left: 12px;
  }
  .mask {
    position: absolute;
    user-select: none;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.uploader {
  border-color: transparent;
  border-width: 1px;
  transition: border 0.2s;
  &:hover {
    border-color: #b0bdff;
  }
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}


// .flex-center-message {
  .ant-message-notice-content .ant-message-custom-content {
    display: flex;
    justify-content: center;
    align-items: center;

    span::first-letter {
      text-transform: capitalize;
    }
  }
// }

.fw{
  font-weight: 600;
}
.fs14{
  font-size: 14px;
}
.fs24{
  font-size: 24px;
}
.fs16{
  font-size: 16px;
}

.opeinIndex-wrap{
  min-height: 690px;
  max-width: 600px;
  margin: 20px auto;
  background: #02182B;
  color: #fff;
  padding: 32px 16px 16px;
  border-radius: 20px;
  .g-item-list{
    background: #202030;
    color: #fff;
    font-size: 16px;
    margin-bottom: 12px;
    border-radius: 12px;
    padding: 0 16px;
    overflow: hidden;
    .cloud-disk-item{
      display: flex;
      margin: 16px 0;
      align-items: center;
      .disk-name{
          flex:1
      }
    }
    .icon-wrap{
      margin-right: 10px;
      &.iCloud{
          width: 26px;
          height: 18px;
          background: url('../../../assets/recovery/icloud.png') no-repeat;
          background-size: 100%;
      }
      &.DropBox{
          width: 24px;
          height: 24px;
          background: url('../../../assets/recovery/dropbox.png') no-repeat;
          background-size: 100%;
      }
      &.GoogleDrive{
          width: 26px;
          height: 20px;
          background: url('../../../assets/recovery/googledrive.png') no-repeat;
          background-size: 100%;
      }
  }
  }
}
