@import './mixin';

.ant-btn {
  border-radius: 8px;
  box-sizing: border-box;
  height: 36px;
}

.ant-btn-default {
  color: @themeColor;
  border: 1px solid @themeColor;
}

.ant-modal.dark .ant-modal-content {
  background: #171727;

  .ant-modal-confirm-body {
    span.ant-modal-confirm-title,
    div.ant-modal-confirm-content,
    .delete-confoirm-title,
    .delete-confoirm-content { 
      color: #FFF !important;
    }
  }

  .ant-modal-confirm-btns {
    button.ant-btn:not(.ant-btn-primary) {
      background: transparent !important;
      color: #1484F5 !important;
      border-color: #1484F5 !important;
    }
  }
}
