.colorful_dot {
  margin-right: 0.25rem;
  font-size: 1.5rem;
}

/** darkmode related override */
.network-page-container.dark {
  background-color: #020C15;

  .chevron-icon {
    fill: #FFF;
  }

  .custom-network-card {
    background-color: #02182B;
    button svg {
      fill: #FFF;
    }
  }

  .network-list-header svg {
    fill: #FFF;
  }
}
.network-page-container {

  font-family: Montserrat;
  height: 100%;
  // padding: 0 12px;

  .network-list-header {
    padding: 0 24px;
    .closeWindowBtn {
      // padding: 0;
      margin-right: -15px;
      // height: 20px;
    }
  }

  .category-tag {
    padding: 16px 24px;
  }
}

// .network-list-padding {
//   padding: 0 12px 0 24px;
// }

.colorful_dot {
  margin-right: 0.25rem;
  font-size: 1.5rem;
}

.hover-to-highlight:hover {
  background-color: #FAFCFE;
}

h2.category-name {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  text-align: left;
  color: #798CAD;
}

.networkList {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 75%;

  .networklist-category {
    .chevron-icon {
      width: 18px;
      height: 18px;
    }
  }
}

.custom-network-card {
  background: #F8FAFC;
  border-radius: 8px;
  padding: 0 9px;
  padding-left: 16px;
  margin: 24px;
}

.network-edit.dark {
  background: #02182B;
  .edit-network-header h1.title {
    color: #FFFFFF;
  }
  .form-deco {
    border-color: rgb(94, 108, 138);
    background: #020C15;
    .form-body {
      h1 { color: #FFF; }
      input {
        background-color: #02182B;
        color: #FFF;
      }
      input::placeholder {
        color: rgb(94, 108, 138) !important;
      }
      input:focus-visible {
        outline: solid #1484f5;
      }
    }
  }
}
/** network edit page **/
.network-edit {
  padding: 0;
  display: flex;
  background: rgb(248,250,252);
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  .edit-network-header h1.title {
    font-family: 'MontserratBold';
    font-size: 32px;
    line-height: 100%;
    color: #364361;
    margin: 24px 0;
  }

  form.form-deco {
    background: #FFFFFF;
    border: 2px solid #1484F5;
    box-sizing: border-box;
    backdrop-filter: blur(24px);
    border-radius: 20px;
    padding: 40px 106px;

    margin-bottom: 48px;
  }

  .input-error {
    color: #E05651;
    margin-top: -12px;
    margin-bottom: 24px;
  }
  .input-warning {
    color: #FFA014;
    margin-top: -12px;
    margin-bottom: 24px;
  }
  h1 {
      margin-bottom: 12px;
      font-size: 16px;
      color: #364361;
      font-family: MontserratBold;
      span {
        font-family: Montserrat;
        color: #A3B4CC;
      }
  }
  .disabled_button {
    // override disabled button font color to avoid full blank
    color: black !important;
  }

  // .ant-form-item-control-input {
    input {
      background-color: #F8FAFC;
      height: 36px;
      border-radius: 8px !important;
      border-color: #F8FAFC;
      margin-bottom: 20px;
      width: 514px;
      // height: 48px;
      padding: 11px 16px;
    }
    input::placeholder {
      color: #A3B4CC !important;
    }
    input:last-child {
      margin-bottom: 0;
    }
  // }
  .ant-select-selector {
    background: #F8FAFC !important;
    border-radius: 8px !important;
    border: 0px !important;
  }
  .form-body {
    padding: 0 4px;
    overflow-x: hidden;
    margin-bottom: 48px;
    .networkType {
      background: transparent;
      margin-left: auto;
      color: #1484F5;
    }
  }
  .form-body > h1,input,.input-error,.input-warning {
    max-width: 514px;
  }

  .cancel-btn {
    width: 250px;
    color: rgb(20, 132, 245);
    border: 1px solid rgb(20, 132, 245);
    margin-right: 16px;
  }
}

.item-container {
  display: flex;
    align-items: center;
    img.category-icon {
      width: 16px;
      height: 16px;
      border-radius: 100%,
    }
    span.symbol {
      padding-top: 0px;
      color: #364361;
      margin-left: 4px;
    }
    span.label {
      color: #A3B4CC;
      margin-left: 4px;
      font-size: 14px;
    }
    span.label::before {
      content: "(";
    }
    span.label::after {
      content: ")";
    }
}

.rc-virtual-list-holder-inner {
  .ant-select-item .ant-select-item-option-content .item-container {
    span.symbol {
      display: none;
    }
    img.category-icon {
      width: 24px;
      height: 24px;
      border-radius: 100%,
    }
    span.label {
      color: #364361;
      font-family: "MontserratBold";
      font-size: 16px;
    }
    span.label::before {
      content: "";
    }
    span.label::after {
      content: "";
    }
  }
}