@import '../../style/mixin';

.setting {
  width:100%;
  height:100%;
  box-sizing: border-box;
  padding-bottom: 24px;

  /** some animation while changing background of this */
  transition: background-color 0.5s linear;

  .setting-button-container{
    height: 124px;
    justify-content: center;
    align-items: center;
    
  }
  .theme-selection-bar {
    .theme-buttons {
      justify-content: space-between;
      width: 160px;
      display: flex;
      button {
        width: 44px;
        height: 44px;
  
        background-color: #364361;
        /** some animation while changing background of this */
        transition: background-color 1s linear;

        border-radius: 12px;
  
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          fill: #FFF;
        }
      }
      button.selected {
        background-color: #0E5CAA;
      }
    }
  }
  .setting-item{
    width:100%;
    padding:0 24px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height:64px;
    position:relative;
    .title{
      font-size:16px;
    }
    &:hover{
      background:#FAFCFE;
    }

    .tag{
      position:absolute;
      color:#A3B4CC;
      top:50%;
      transform:translateY(-50%);
      right:52px;
      font-size: 12px;
    }
  }

}
.logo-header{
  width:100%;
  box-sizing: border-box;
  padding:0 @pagePaddingLeft;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  flex:0 0 88px;
  .logo-header-left{
    align-items: center;
    .logo-header-left-logo{
      width:28px;
      height:28px;
      margin-right: 6px;
    }
    
    .logo-header-left-title{
      // width: 94px;
      height: 14px;
      margin-right: 4px;
    }

  }
  .logo-header-right{
    align-items: center;
    .svg-icon{
      margin-left: 25px;
      fill: #798CAD;
      width: 16px;
      height: 16px;
    }
  }
}
/** Style override for darkmode */
.setting.dark {
  background-color: #020C15;
  color: #FFF;
  // need to fix svg icon color before enable this
  // .setting-button-container .tip-button-not-send-img {
  //   background-color: #364361;
  // }
  .setting-item:hover{
    background: #052E55;
  }
  .theme-selection-bar {
    button {
      svg {
        fill: #FFF;
      }
    }
  }
}
.logo-header.dark {
  .logo-header-left-title {
    fill: #FFF;
  }
}