@import '../../style/mixin';

.wallet-manage-button-container {
  height: 96px;
  flex: 0 0 96px;
}

.tab-container {
  height: 36px;
  flex: 0 0 36px;
  margin-bottom: 16px;
}

.wallet-manage-button-container {
  justify-content: space-between;
  align-items: flex-start;

  ._edit {
    .wallet-manage-button-wrap {
      background: #F8FAFC;
    }

  }

  ._import {
    .wallet-manage-button-wrap {
      background: #F0F9FF;
    }

    .wallet-manage-button-item-title {
      color: #56FAA5;
    }
  }

  ._add {
    .wallet-manage-button-wrap {
      background: #F0FFF0;
    }

    .wallet-manage-button-item-title {
      color: #42B856;
    }
  }

  .wallet-manage-button-item {
    align-items: center;

    &:first-child {
      margin-left: 12px;
    }

    &:last-child {
      margin-right: 12px;
    }

    .wallet-manage-button-wrap {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;

      .wallet-manage-img {
        width: 17px;
        height: 17px;
      }
    }

    .wallet-manage-button-item-title {
      font-size: 14px;
      font-family: MontserratBold;
    }
  }
}

.wallet-manage {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  p {
    margin: 0;
    line-height: 1;
  }



  .content {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 16px;

    .wallet-manage-button-container {
      justify-content: space-between;
      align-items: center;
      background: #EFF7FF;
      border-radius: 12px;
      box-sizing: border-box;
      padding: 0 16px;
      height: 65px;
      margin-bottom: 12px;

      .wallet-manage-button-container-left {
        align-items: center;

        .wallet-manage-button-container-left-count {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
        }

        .wallet-manage-button-container-left-wallet {
          font-weight: 500;
          font-size: 16px;
          line-height: 28px;
          height: 28px;
          line-height: 32px;
        }

      }

      .wallet-manage-button-container-right {
        align-items: center;
        justify-content: flex-end;

        .wallet-manage-button {
          width: 85px;
          align-items: center;
          border: none;
          height: 34px !important;
        }

        .import-button {
          align-items: center;

          .reverse-enter {
            margin-right: 3px;
          }
        }

        .green {
          background: #42B856;
          margin-left: 12px;
        }
      }
    }

    .account-container {
      flex: 1;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;

      .list {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .item {
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 56px;
          flex: 0 0 56px;
          padding: 0 0 0 @pagePaddingLeft;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            background: #F8FAFC;

            .name-account-key-container {
              display: flex !important;
            }
          }


          .circle {
            width: 32px;
            flex: 0 0 32px;
            height: 32px;
            margin-right: 14px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #ffffff;
            font-family: MontserratBold;
            position: relative;

            .circle-wrap {
              position: absolute;
              width: 16px;
              height: 16px;
              right: -4px;
              top: -4px;
              align-items: center;
              justify-content: center;
              background: #ffffff;
              border-radius: 50%;

              .circle-ecosystem-icon {
                width: 12px;
                height: 12px;
              }
            }

          }

          .right {
            flex: 1;
            justify-content: space-between;
            align-items: center;

            .name-account-name {
              font-family: MontserratBold;
              font-size: 14px;
            }

            .normal-container {
              justify-content: center;
              align-items: center;
              width: 72px;
              height: 56px;

              .key-default-icon {
                display: block;
                width: 20px;
                height: 20px;
                fill: @baseTextColor;
              }

              &:hover {
                background: #F0F9FF;

                .key-default-icon {
                  fill: @themeColor;
                }
              }



              .key-active-icon {}

              &:hover {

                .key-active-icon {
                  display: block;
                }
              }

            }



            /* .name-account {
              .name-account-name {
                font-family: MontserratBold;
                font-size: 14px;
              }

              .name-account-address {
                font-size: 12px;
                color: #A3B4CC;
              }
            } */



            .icons-container {
              width: 50px;
              flex: 0 0 50px;
              justify-content: space-between;
              align-items: center;
            }

          }
        }

        .wallet-switch-item {
          padding-right: 24px;
        }

        ._active {
          background: #D6EFFF !important;
        }
      }

      .no-data {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .home-no-assets {
          width: 90px;
          height: 83px;
          margin-bottom: 12px;
        }

        .no-assets-title {
          font-size: 12px;
          line-height: 17px;
          color: #9EA2A9;
        }
      }

    }



  }

}

.wallet-manage-wallet-switch {
  flex: 1;
  height: 0;
}

.adm-popover-inner-content {
  padding: 0 !important;
}

.adm-popover-arrow {
  display: none;
}

.wallet-header-container {
  justify-content: space-between;
  align-items: center;
  height: 64px;
  flex: 0 0 64px;

  .wallet-header-title {
    font-size: 18px;
    font-family: MontserratBold;
  }

  .wallet-header-done {
    width: 72px;
    height: 30px;
    font-size: 14px;
    font-family: MontserratBold;
    line-height: 30px;
    background: #56FAA5;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
  }
}

.wallet-manage.dark,
.account-manage.dark {
  background: @darkBg;
  color: #ffffff;

  .account-container {
    svg {
      fill: #ffffff !important;
    }
  }

  .wallet-manage-button-container {
    justify-content: space-between;
    align-items: flex-start;

    ._edit {
      .wallet-manage-button-wrap {
        background: rgba(248, 250, 252, 0.1);
      }

    }

    ._import {
      .wallet-manage-button-wrap {
        background: rgba(248, 250, 252, 0.1);
      }
    }

    ._add {
      .wallet-manage-button-wrap {
        background: rgba(240, 255, 254, 0.1);
      }

    }


  }

  .account-container {

    .list {
      .item {
        .normal-container {
          &:hover {
            background: #0E5CAA !important;
          }
        }

        &:hover {
          background: #02182B;
        }
      }

      ._active {
        background: #052E55 !important;
      }
    }

  }

}