@font-face {
  font-family: "iconfont"; /* Project id 3343369 */
  src: url('iconfont.woff2?t=1659691801105') format('woff2'),
       url('iconfont.woff?t=1659691801105') format('woff'),
       url('iconfont.ttf?t=1659691801105') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down8_8:before {
  content: "\e654";
}

.icon-close:before {
  content: "\e652";
}

.icon-check:before {
  content: "\e653";
}

.icon-back:before {
  content: "\e646";
}

.icon-chevron-right:before {
  content: "\e64f";
}

.icon-chevron-down:before {
  content: "\e650";
}

.icon-chevron-up:before {
  content: "\e651";
}

.icon-cancel1:before {
  content: "\e647";
}

.icon-receive1:before {
  content: "\e648";
}

.icon-send1:before {
  content: "\e649";
}

.icon-search:before {
  content: "\e64a";
}

.icon-a-Arrowswitch:before {
  content: "\e64b";
}

.icon-fi_external-link:before {
  content: "\e64c";
}

.icon-fi_edit:before {
  content: "\e64d";
}

.icon-fi_copy:before {
  content: "\e64e";
}

.icon-fi_check:before {
  content: "\e635";
}

.icon-cancel:before {
  content: "\e636";
}

.icon-edit:before {
  content: "\e637";
}

.icon-fi_menu:before {
  content: "\e639";
}

.icon-key:before {
  content: "\e63a";
}

.icon-import:before {
  content: "\e63b";
}

.icon-a-linkfailure:before {
  content: "\e63c";
}

.icon-plus:before {
  content: "\e63d";
}

.icon-receive:before {
  content: "\e63e";
}

.icon-link:before {
  content: "\e63f";
}

.icon-transition:before {
  content: "\e640";
}

.icon-lock:before {
  content: "\e641";
}

.icon-send:before {
  content: "\e642";
}

.icon-plus-circle:before {
  content: "\e643";
}

.icon-wrench:before {
  content: "\e644";
}

.icon-rocket:before {
  content: "\e645";
}

