@font-face {
  font-family: "iconfont"; /* Project id 3343369 */
  src: url('iconfont.woff2?t=1660201104644') format('woff2'),
       url('iconfont.woff?t=1660201104644') format('woff'),
       url('iconfont.ttf?t=1660201104644') format('truetype'),
       url('iconfont.svg?t=1660201104644#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit_17:before {
  content: "\e67a";
}

.icon-send_24:before {
  content: "\e678";
}

.icon-send_20:before {
  content: "\e679";
}

.icon-copy_16:before {
  content: "\e677";
}

.icon-chevron-down_8:before {
  content: "\e675";
}

.icon-chevron-right_8:before {
  content: "\e676";
}

.icon-search_16:before {
  content: "\e674";
}

.icon-check_16:before {
  content: "\e671";
}

.icon-edit_16:before {
  content: "\e672";
}

.icon-trash_16:before {
  content: "\e673";
}

.icon-close_10:before {
  content: "\e668";
}

.icon-edit_12:before {
  content: "\e669";
}

.icon-close_12:before {
  content: "\e66a";
}

.icon-chevron-right14:before {
  content: "\e66b";
}

.icon-chevron-down_14:before {
  content: "\e66c";
}

.icon-receive_20:before {
  content: "\e66e";
}

.icon-receive_24:before {
  content: "\e670";
}

.icon-edit:before {
  content: "\e65c";
}

.icon-cancel:before {
  content: "\e662";
}

.icon-receive:before {
  content: "\e663";
}

.icon-search:before {
  content: "\e664";
}

.icon-plus-circle1:before {
  content: "\e665";
}

.icon-signature:before {
  content: "\e659";
}

.icon-eye:before {
  content: "\e65a";
}

.icon-select:before {
  content: "\e65b";
}

.icon-send1:before {
  content: "\e65d";
}

.icon-select-off:before {
  content: "\e65f";
}

.icon-trash:before {
  content: "\e660";
}

.icon-eye-off:before {
  content: "\e661";
}

.icon-set:before {
  content: "\e65e";
}

.icon-fi_trello:before {
  content: "\e658";
}

.icon-filter:before {
  content: "\e64e";
}

.icon-arrow-right:before {
  content: "\e64d";
}

.icon-menu:before {
  content: "\e64c";
}

.icon-copy:before {
  content: "\e656";
}

.icon-external-link:before {
  content: "\e657";
}

.icon-chevron-down8_8:before {
  content: "\e654";
}

.icon-close:before {
  content: "\e652";
}

.icon-check:before {
  content: "\e653";
}

.icon-back:before {
  content: "\e646";
}

.icon-chevron-right:before {
  content: "\e64f";
}

.icon-chevron-down:before {
  content: "\e650";
}

.icon-chevron-up:before {
  content: "\e651";
}

.icon-a-Arrowswitch:before {
  content: "\e64b";
}

.icon-key:before {
  content: "\e63a";
}

.icon-import:before {
  content: "\e63b";
}

.icon-a-linkfailure:before {
  content: "\e63c";
}

.icon-plus:before {
  content: "\e63d";
}

.icon-link:before {
  content: "\e63f";
}

.icon-transition:before {
  content: "\e640";
}

.icon-lock:before {
  content: "\e641";
}

.icon-send:before {
  content: "\e642";
}

.icon-plus-circle:before {
  content: "\e643";
}

.icon-wrench:before {
  content: "\e644";
}

.icon-rocket:before {
  content: "\e645";
}

