.current-connected-sites {
    width: 100%;
    height: 0;
    flex: 1;
    box-sizing: border-box;
    padding: 10px 24px;
    .header {
        font-family: 'MontserratBold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: #364361;
    }
}