@import '../../style/mixin';

.mnemonic-check-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  
  span, p{
    line-height: 1;
  }
  .mnemonic-check-content{
    flex: 1;
    .sub-notice {
      font-size: 12px;
      margin-bottom: 32px;
    }
    

    .password-container {

      .title {
        font-size: 16px;
        margin-bottom: 12px;
        font-family: MontserratBold;
      }

      .password-input {
        height: 36px;
      }
    }

    .phrase-container {
      height: 178px;
      width: 100%;
      align-items: center;
      //justify-content: center;
      background: #EFF7FF;
      border-radius: 16px;
      box-sizing: border-box;
      overflow-y: auto;
      padding: 12px 0;
      .mnemonic-wrap {
        display: grid;
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(4, 30px);
        grid-row-gap: 8px;
        grid-column-gap: 8px;

        .phrase {
          width: 90px;
          height: 30px;
          border-radius: 8px;
          line-height: 30px;
          text-align: center;
          background: #fff;
          font-size: 12px;
        }
      }

    }

    .private-key-container {
      box-sizing: border-box;

      .title {
        font-size: 16px;
        margin-bottom: 12px;
        font-family: MontserratBold;
      }

      .private-key {
        width: 100%;
        padding: 0 16px;
        background: #F8FAFC;
        color: #A3B4CC;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 12px;
        line-height: 36px;
        overflow-x: auto;
      }
    }
  }

  .button-container {
    height: 86px;
    flex: 0 0 86px;
    box-sizing: border-box;
    justify-content: flex-end;
  }


}
