.fee.dark {
  .fee-selector-item {
    &-tail {
      background-color: #02182B;
    }
    &-head {
      border-color: #364361;
      background-color: #02182B;
    }
    &-content {
      background-color: #02182B;
      border: 2px solid #02182B;
      &-left {
        &-title {
          font-weight: 800;
          font-family: MontserratBold;
        }
        &-subtitle {
          color: #364361;
          font-weight: 800;
          font-family: MontserratBold;
        }
      }
      &-right {
        &-title {
          color: #5E6C8A;
          text-align: right;
          font-weight: 800;
          font-family: MontserratBold;
        }
        &-subtitle {
          color: #A3B4CC;
          text-align: right;
        }
      }
    }
  }
  
  .fee-high {
    // background-color: #F0FFF0;
    .fee-selector-item-content-left {
      &-title {
        color: #42B856;
      }
    }
  }
  .fee-suggest {
    // background-color: #F0FFFE;
    .fee-selector-item-content-left {
      &-title {
        color: #1BD6AA;
      }
    }
  }
  .fee-medium {
    // background-color: #F0F9FF;
    .fee-selector-item-content-left {
      &-title {
        color: #1484F5;
      }
    }
  }
  .fee-low {
    // background-color: #FFFBF0;
    .fee-selector-item-content-left {
      &-title {
        color: #FFA014;
      }
    }
  }
  .fee-custom {
    // background-color: #F9F5FF;
    .fee-selector-item-content-left {
      &-title {
        color: #865CFF;
      }
    }
  }
  
  .fee-selector-item-content-left {
    width: 100px;
  }
  
  .selected {
    .fee-selector-item-head {
      border-color:#C5D1E0;
      &::after {
        background-color: #C5D1E0;
      }
    }
    .fee-selector-item-content {
      border-color: #1484F5;
      background-color: #1484F5;
      &-left {
        &-title {
          color: #020C15;
        }
        &-subtitle {
          color: #020C15;
        }
      }
      &::after {
        background-color: #020C15;
      }
    }
    .fee-high {
      border-color: #42B856;
      background-color: #42B856;
      &-right {
        &-title {
          color: #42B856;
        }
      }
    }
    .fee-medium {
      border-color:#1484F5;
      background-color: #1484F5;
      &-right {
        &-title {
          color: #1484F5;
        }
      }
    }
    .fee-low {
      border-color:#FFA014;
      background-color: #FFA014;
      &-right {
        &-title {
          color: #FFA014;
        }
      }
    }
    .fee-suggest {
      background-color: #1BD6AA;
      border-color:#1BD6AA;
      &-right {
        &-title {
          color: #1BD6AA;
        }
      }
    }
    .fee-custom {
      border-color:#653FE0;
      background-color: #653FE0;
      &-right {rgb(1, 1, 2)
        &-title {
          color: #653FE0;
        }
      }
    }
  }
  .gas-timing {
    color: #fff;
  }
}
