.dec {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #364361;
    margin-left: 10px;
    height: 30px;
}
.symbol {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #364361;
    padding-top: 10px;
}