.dec {
    
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 100%;
    color: #364361;
    margin-left: 8px;
    height: 30px;
    word-break: break-all;
}
.symbol {
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #364361;
    // padding-top: 10px;
    margin-left: 5px;
    white-space: nowrap;
}
.dec-symbol-container {
    word-break: break-all;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}