body{
    background: #02182B;
}
.mpc-recovery-wallet{
    .header{
        color: #ADB1B8;
        font-size: 14px;
        margin-bottom: 8px;
        .email{
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            margin-top: 4px;
        }
    }
    .item{
        .wallet-name{
            height: 52px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #313438;
        }
    }
}