@import '../../style/mixin';

.current-wallet-account-switch {
  width: 100%;
  height: 0;
  flex: 1;
  box-sizing: border-box;
  padding-top: 8px;

  .account-switch-wallet-name {
    height: 25px;
    flex: 0 0 25px;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 16px;
    font-family: MontserratBold;
    color: @themeColor;
  }

  .accounts {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;

    .account-item {
      width: 100%;
      padding: 0 24px;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      flex: 0 0 64px;
      cursor: pointer;
      box-sizing: border-box;

      .account-left {
        align-items: center;

        .account-info {
          align-items: flex-start;
          justify-self: center;
          margin-left: 14px;

          .account-name {
            font-size: 14px;
            font-family: MontserratBold;
            line-height: 1;
            margin-bottom: 4px;
          }

          .account-address {
            font-size: 12px;
            color: #9EA2A9;
            line-height: 1;
          }

        }
      }

      .account-right {
        align-items: center;
        justify-content: flex-end;

        .account-item-action {
          width: 44px;
          height: 44px;
          border-radius: 12px;
          justify-content: center;
          align-items: center;
          background: #F8FAFC;
          box-sizing: border-box;

          .account-item-action-icon {
            height: 14px;
          }

          .key-default-icon {
            display: block;
          }

          .key-active-icon {
            display: none;
          }

          &:hover {
            background: #F0F9FF;

            .key-default-icon {
              display: none;
            }

            .key-active-icon {
              display: block;
            }
          }

          &:last-child {
            margin-left: 12px;
          }
        }

      }

      &:hover {
        background: #F8FAFC;

        .account-right {
          .account-item-action {
            border: 0.5px solid #E1E8F0;

            &:hover {
              background: #F0F9FF;
              border: none;
            }
          }

        }
      }
    }
    
    .account-list-active {
      background: #D6EFFF;
    }
  }

}