.activity {
    padding: 16px 24px;
    font-family: Montserrat;
    p {
        margin: 0;
        margin-bottom: 8px !important;
    }
    .mb-8 {
        margin-bottom: 8px !important;
    }
}
// not suitable for infinite list
// .activity:nth-child(even) {
//     background-color: #FAFCFE;
// }
// 
.activity.is-even {
    background-color: #FAFCFE;
}
.tx-stat-logo {
    margin-right: 16px;
    width: 32px;
    display: block;
    height: 32px;
    padding: 10px;
    background-color: rgb(242, 246, 250);
    border-radius: 100%;
    img {
        width: 16px;
        height: 100%;
        margin-right: 16px;
    }
}
.value-n-status-display {
    margin-right: auto;
    p.tx-title {
        font-weight: 500;
        font-family: MontserratBold;
        font-size: 14px;
        color: #364361;
    }
    p.tx-value {
        font-weight: 500;
        font-family: MontserratBold;
        font-size: 14px;
        color: #364361;
    }
    span.status {
        font-size: 12px;
        font-style: normal;
        text-align: left;

        margin-right: 8px;
    }
    span.status.error {
        color: #E05651;
        font-weight: 400;
    }
    span.status.pending {
        color: #FFA014;
        font-family: MontserratBold;
    }
    span.status.default {
        color: #A3B4CC;
        font-weight: 400;
    }
    div.from-and-to {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: #A3B4CC;
        span.from {
            margin-right: 14px;
        }
        span.to {
            margin-left: 8px;
        }
    }
    span.date {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: right;
        color: #A3B4CC;
    }
    button.gasBtn {
        padding: 4px;
        height: 24px;
        background: #1484F5;
        border-radius: 8px;
        color: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 4px;
        }
    }
}
.detail {
    p {
        font-size: 10px;
    }
}
.pending-stat {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFA014
}

.pending-tx-actions {
    // padding: 4px 12px;
    // display: flex;
    // justify-content: space-around;
    // button {
    //     width: 45%;
    //     margin: auto 0;
    // }
}

.grey-02 {
    color: #5E6C8A !important;
    fill: #5E6C8A !important;
}

.grey-05 {
    color: #C5D1E0 !important;
    fill: #C5D1E0 !important;
}